html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #5e503f;
}

.App {
  width: 100%;
  /* background-color: #5e503f;*/
}

.draw .MuiDrawer-paperAnchorRight {
  background: #a9927d;
}

.draw div {
  padding: 2.2em 0em;
}

.listItem {
  color: #f2f4f3;
  border-bottom: 0.001em solid #f2f4f3;
  cursor: pointer;
  font-family: lato;
  letter-spacing: 0.3rem;
  font-size: 1.1rem;
  background-color: #a9927d;
}

.listItem:hover {
  color: #a9927d;
  background-color: #f2f4f3;
}

.listDiv > .listItem:first-child {
  border-top: 0.001em solid #f2f4f3;
}

/* Hex Codes: #0a0908, #49111c, #f2f4f3, #a9927d, #5e503f */

.hero_wrapper {
  position: relative;
  text-align: center;
}

.hero_img {
  background-image: 
    /* top, transparent red */ linear-gradient(
      rgba(73, 17, 28, 0.842),
      rgba(73, 17, 28, 0.842)
    ),
    url(img/bar-209148_1920.jpg);

  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "newfont";
  src: url("./fonts/NolluqapersonaluseRegular-VGMge.otf");
}
@font-face {
  font-family: "appleberry";
  src: url("./fonts/appleberry.ttf");
}

@font-face {
  font-family: "vegan";
  src: url("./fonts/VeganStylePersonalUse-5Y58.ttf");
}
@font-face {
  font-family: "Motion";
  src: url("./fonts/MotionPersonalUseBold-2O0od.ttf");
}

.title_wrapper {
  padding: 25em;
  margin: 0 auto;
}

.title_wrapper h2 {
  /*color: rgba(255, 255, 255, 0.801);*/
  color: #d1c7bb;
  font-family: newfont;
  font-size: 6rem;
  letter-spacing: 26px;
  margin: 0 auto;
  text-align: center;
}

.extraspace {
  height: 500px;
}

.card_wrapper {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.cardimg .MuiCardMedia-img {
  position: absolute;
  top: 10px;
}
.featcard {
  max-width: 20%;
  margin: 1rem;
}
/*Food*/
.food_section {
  margin: 4em auto;
  background-image: linear-gradient(
      90deg,
      rgb(94, 80, 63) 0%,
      rgba(94, 80, 63, 0.1) 5%,
      rgb(94, 80, 63, 0.1) 90%,
      rgba(94, 80, 63) 100%
    ),
    linear-gradient(
      180deg,
      rgb(94, 80, 63) 0%,
      rgba(94, 80, 63, 0.1) 20%,
      rgb(94, 80, 63, 0.1) 90%,
      rgba(94, 80, 63) 100%
    ),
    url(components/food/img/image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
  position: relative;
  padding: 2rem;
}

.food_title {
  position: absolute;
  font-size: 8em;
  top: -2rem;
  font-family: appleberry;
}

.food_main {
  display: flex;

  margin: 1em;
  margin-top: 10em;
}

.food_main > div {
  margin: 2em;
  font-size: 1.4rem;
}

.food_main-column1 {
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
}

.food_main-column1 > div {
  margin: 0.2em;
  font-family: roboto;
  line-height: 2.4rem;
  color: #1d1d1d;
}

.food_main-column1-row1 {
  background-color: rgba(196, 219, 226, 0.884);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-grow: 0;
  margin: 4rem;

  box-shadow: 5px 5px 2rem rgba(255, 255, 255, 0.2);
}

.food_main-column1-row2 {
  position: relative;
  height: 12rem;
  margin: 4rem auto;
}

.food_main-text {
  text-align: center;
  background-color: rgba(255, 192, 203, 0.205);
  padding: 1.4rem;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;

  width: 50%;
  margin: 0 auto;
}

.food_offers-card {
  opacity: 0;
  margin-top: 10rem;
  border-radius: 2%;
  text-align: center;
  height: 7em;
  width: 9em;
  background-color: rgba(78, 1, 1, 0.452);
  color: rgba(251, 254, 255, 0.884);
  font-size: 3rem;
  font-family: vegan;
  border: rgb(83, 182, 108) solid 5px;
}

.food_offers-title {
  padding: 1rem;
  margin: 1rem;
  text-decoration: underline;
}

.food_offers-main {
  font-size: 2rem;
}

.food_buttons {
  text-align: center;
  margin-left: 0rem;
}

/* res popup*/
.modal {
  font-size: 1rem;
  padding: 4rem;
}
.popup-overlay {
  animation: fadeinout 0.3s linear forwards, scaleup 0.2s linear forwards;
  opacity: 0;
  transform: scale(0.1);
}
@keyframes fadeinout {
  100% {
    opacity: 1;
  }
}
@keyframes scaleup {
  100% {
    transform: scale(1);
  }
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 2rem;
  font-family: roboto;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}

.booking_form-group {
  display: flex;
  flex-direction: row;
}

.booking_form-submit {
  text-align: center;
  padding: 1rem;
}

.popup-overlay {
  background-color: rgba(6, 6, 7, 0.5);
}

.popup_error {
  max-width: 50%;
}
.popup-content {
  background-color: rgb(251, 254, 255, 0.95);
}

@media only screen and (max-width: 800px) {
  .modal {
    height: 90vh;
    width: 80%;
  }
  .modal > .close {
    position: relative;
    top: 1rem;
    padding: 0.1rem 0.2rem;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 800px) {
  .popup-content {
    min-width: 90%;
  }
  .popup-content {
    border-radius: 5px;
    background: linear-gradient(
      rgb(73, 17, 28) 10%,
      rgb(251, 254, 255) 10%,
      rgb(251, 254, 255) 90%,
      rgb(73, 17, 28) 90%
    );
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -0px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
}
@media only screen and (min-width: 1200px) {
  .popup-content {
    min-width: 50%;
  }
}

/* BeerGarden */
.beer_card {
  position: relative;
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.beer_ghost-shape {
  height: 30rem;
  width: 60%;
  background-color: transparent;
  float: right;
  shape-outside: polygon(90% 100%, 100% 0%, 0 0%);
}
.beer_text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: roboto;
  color: #444444;
}

.beer_list {
  margin: 0 auto;
  width: 50%;
  margin-top: 4rem;
  font-size: 1.2rem;
}

.beer-title {
  font-family: Motion;
}

.beer-title .beer-title-invs {
  font-size: 9rem;
  line-height: 8rem;
}

.beer-title-white {
  font-size: 9rem;
  font-family: Motion;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 12rem;
  margin-left: 2rem;
}

/* Location */

.location_wrapper {
  margin-top: 1rem;
}

.location_wrapper p {
  text-align: center;
  font-family: roboto;
  font-size: 1rem;
}

/* Footer */

/* media */

@media only screen and (max-width: 500px) {
  .title_wrapper {
    padding: 15em;
    margin: 0 auto;
  }
  .title_wrapper h2 {
    /*color: rgba(255, 255, 255, 0.801);*/
    color: pink; /*#d1c7bb;*/
    font-family: newfont;
    font-size: 4rem;
    letter-spacing: 5px;

    text-align: center;
  }

  .food_title {
    margin-top: 5rem;
  }
  .food_section p {
    color: blue;
  }
}
@media only screen and (max-width: 400px) {
  .food_main-text {
    width: 100%;
  }
  .food_main div {
    margin: 0 auto;
  }
  .food_section {
    padding: 1rem;
    width: 90%;
    margin-top: 10rem;
  }
  .food_main-column1-row2 {
    height: auto;
  }
  .food_main {
    margin: 0 auto;
    margin-top: 4rem;
  }
  .food_title {
    margin-top: -3rem;
  }
  .modal > .close {
    top: 3.5rem;
  }
  .beer-title-white {
    font-size: 8rem;
    margin-left: -0.5rem;
    line-height: 10rem;
  }
  .beer-title .beer-title-invs {
    line-height: 6rem;
  }
  .beer_text {
    line-height: 1.5rem;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  body {
    padding: 0;
    width: 100%;
  }

  .title_wrapper h2 {
    font-size: 4rem;
    letter-spacing: 5px;
  }

  .card_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card_wrapper p {
    font-size: 1.4rem;
  }

  .featcard {
    max-width: 70%;
    margin-top: 8rem;
  }
  .food_main-column1 div {
    line-height: 1.4rem;
    font-size: 1.4rem;
  }
  .food_main-text {
    width: 90%;
  }
  .beer_list {
    margin: 0;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .beer-title .beer-title-invs {
    font-size: 7rem;
    line-height: 3rem;
  }

  .beer-title-white {
    margin-left: 0.5rem;
    font-size: 6rem;
    line-height: 4rem;
    color: inherit;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 56.5%;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 1500px) {
  .beer-title .beer-title-invs {
    font-size: 11rem;
    line-height: 8rem;
  }

  .beer-title-white {
    font-size: 11rem;
    margin-left: 2rem;
    line-height: 12rem;
  }
}
